---
Checks: >
  -*,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-math-missing-parentheses
CheckOptions:
  # struct fields
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.PublicMemberPrefix: m_
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberPrefix: m_
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_
  # statics
  readability-identifier-naming.StaticVariableCase: camelBack
  readability-identifier-naming.StaticVariablePrefix: s_
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.ClassMemberPrefix: s_
  # constants
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  # globals
  readability-identifier-naming.GlobalVariableCase: camelBack
  readability-identifier-naming.GlobalVariablePrefix: g_
