---
Checks: >
  -*,
CheckOptions:
  # struct fields
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.PublicMemberPrefix: m_
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberPrefix: m_
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_