[submodule "lib/nnheaders"]
	path = lib/nnheaders
	url = https://github.com/open-ead/nnheaders.git
[submodule "tools/common"]
	path = tools/common
	url = https://github.com/open-ead/nx-decomp-tools
[submodule "toolchain/musl"]
	path = toolchain/musl
	url = https://github.com/open-ead/botw-lib-musl
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "lib/libpng"]
	path = lib/libpng
	url = https://github.com/pnggroup/libpng.git
	branch = master
[submodule "lib/stb_image"]
	path = lib/stb_image
	url = https://github.com/nothings/stb.git
	branch = master
